body {
    margin: 0;
    font-family: 'DM Serif Text', serif;
    color: white;
}
.header {
    background-color: #4682B4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.hero {
    position: relative;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/sonnysenburg/sonnysenburg.github.io/refs/heads/main/images/starnight-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}
.title-h1 {
    font-size: 72px;
    margin: 0;
}
.hero p {
    font-size: 18px;
    margin: 20px 0;
}
.button {
    background-color: #4682B4;
    font-size: 16px;
    font-family: 'DM Serif Text', serif;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #336699;
}
